html {
  /*height: 150vh;*/
  background: rgb(72, 68, 68);
  /*background-image: url(./cover.jpg);*/
  background-size: cover;
}


.container {
  display: block;
  position: relative;
  width: 940px;
  height: auto;
  margin: 60px auto;

}

form h3 {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-size: 32px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;

}

form {
  background: rgba(0, 0, 0, 0.534);
  width: 550px;
  height: auto;
  margin: auto;
  padding: 5px 5px;
  border: none;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;

}

label {
  display: block;
  margin: 12px 0 12px 20px;
  font-size: 18px;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}

.input {
  background: rgba(255, 255, 255, 0.859);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 90%;
  padding: 2px 10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
}

form .button {
  display: block;
  margin: 20px auto 15px auto;
  padding: 10px;
  font-size: 18px;
  border: none;
  background: rgb(255, 187, 2);
  border-radius: 5px;
  width: 30%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  transition: 0.5s background;
  font-family: 'Poppins', sans-serif;
}

.button:hover {
  background: rgb(250, 249, 248);

}